.input-reglas-container {
  margin-bottom: 1rem;
}

.input-reglas-label {
  display: block;
  margin-bottom: 4px;
  font-weight: 600;
}

.input-reglas {
  width: 100%;
  padding: 8px 10px;
  border: 1px solid #ccd1d5;
  border-radius: 6px;
  font-size: 14px;
  transition: 0.2s;
}

.input-error {
  border-color: #d9534f;
}

.input-reglas-error {
  color: #d9534f;
  font-size: 12px;
  margin-top: 4px;
}
